.navbar-brand {
  font-size: 12px;
  padding-top: 0px !important;
}


input[type="file"] {
  display: none;
}

body {
  margin: 0;
}


logic-editor {
  display: block;
  font-family: 'Roboto', sans-serif;
}

logic-editor:not(:defined) {
  opacity: 0;
  width: 100%;
  height: 20px;
}

