* {
  box-sizing: border-box;
}

#logicEditorRoot {
  font-family: 'Roboto', sans-serif;
  /* border: 3px solid red; */
}

/* TODO would that go in some global CSS?
logic-editor:not(:defined) {
  opacity: 0;
  width: 100%;
  height: 20px;
}
*/

/* btn btn-sm  */


.navGroupTools {
  padding-left: 2px;
  padding-right: 2px;
  border-right-style: dotted;
  border-color: gray;
}

.nav-item {
  display: inline-flex;
}

#leftToolbar {
  display: flex;
  flex-direction: column;
  color: black;
}

.leftToolbarHeader {
  font-size: 80%;
  font-weight: bold;
  padding: 1px;
  /* word-break: break-all; */
  text-align: center;
  background-color: lightgray;
}

.leftToolbarMore {
  text-align: center;
  font-style: italic;
  font-size: 75%;
  padding: 3px 0;
  cursor: pointer;
  opacity: 0.6;
  color: rgb(33, 33, 33);
}

.dark #leftToolbar {
  background-color: #5e5e5e;
  color: black; /*rgb(181, 181, 181);*/
}

.dark .leftToolbarMore {
  color: black; /*rgb(181, 181, 181);*/
}

.dark #leftToolbar .list-group-item {
  background-color: #5e5e5e;
  color: black; /*rgb(181, 181, 181);*/
}

.sim-toolbar-right {
  background: rgba(136, 136, 136, 0.5);
  box-shadow: 0px 0px 10px 1px rgb(201, 201, 201);
  border-radius: 5px;
}

.sim-component-button {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sim-component-button-extra {
  background-color: #ededed;
}

.sim-toolbar-button-right {
  text-align: left;
  cursor: pointer;
  height: 30px;
}

.sim-toolbar-button-right>i {
  width: 16px;
}

.sim-mode-link {
  opacity: 0.0;
  margin: -8px 0 -8px 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  padding: 5px;
}

.sim-toolbar-button-right.active .sim-mode-link {
  opacity: 1.0;
}

.sim-toolbar-button-right.active .sim-mode-link:hover {
  border-color: grey;
}

.gate-label {
  font-size: 52%;
  font-weight: bold;
  text-align: center;
}

.truth-table {
  color: white;
  font-weight: normal;
  font-size: 90%;
  text-align: center;
  border: 1px solid gray;
  margin: 5px 0;
}

.truth-table th {
  padding: 3px 8px;
  margin: 0 0 2px 0;
  border-bottom: 1px solid grey;
}

.truth-table tr.current {
  background: grey;
  color: rgb(255, 192, 8);
}

.truth-table th:last-child, .truth-table td:last-child {
  border-left: 1px solid grey;
}

/* Tooltips by Popper */

#tooltip {
  background: #333;
  color: white;
  padding: 6px;
  font-size: 13px;
  line-height: 1.2em;
  border-radius: 4px;
  display: none;
  opacity: 0.95;
}

#tooltip div+div {
  margin-top: 5px;
}

#tooltip[data-show] {
  display: block;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top']>#arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom']>#arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left']>#arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right']>#arrow {
  left: -4px;
}

/* Menus */

.menu {
  position: absolute;
  min-width: 200px;
  padding: 2px;
  margin: 0;
  border: 1px solid #bbb;
  background: #EAEAEA;
  background: -webkit-linear-gradient(to bottom, #F2F2F2 0%, #EAEAEA 100px, #EAEAEA 100%);
  background: linear-gradient(to bottom, #F2F2F2 0%, #EAEAEA 100px, #EAEAEA 100%);
  z-index: 100;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  opacity: 0;
  -webkit-transform: translate(0, 15px) scale(.95);
  transform: translate(0, 15px) scale(.95);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  pointer-events: none;
}

.menu-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.menu-btn {
  background: none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  width: 100%;
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 8px;
  border-radius: 3px;
}

.menu-btn::-moz-focus-inner,
.menu-btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.menu-text {
  margin-left: 10px;
  margin-right: 12px;
}

.menu-item-static {
  display: block;
  padding: 0 5px;
  color: rgb(150, 150, 150);
  font-size: 70%;
  font-style: italic;
  width: 100%;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.menu-btn .fa {
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-item:hover>.menu-btn {
  color: #fff;
  outline: none;
  background-color: #2865E1;
  background: -webkit-linear-gradient(to bottom, #2A6BED, #2865E1);
  background: linear-gradient(to bottom, #2A6BED, #2865E1);
  border: 1px solid #2865E1;
}

.menu-item:hover>.menu-btn.danger {
  color: #fff;
  background-color: #C1210E;
  background: -webkit-linear-gradient(to bottom, #DE2610, #C1210E);
  background: linear-gradient(to bottom, #DE2610, #C1210E);
  border: 1px solid #C1210E;
}

.menu-item.disabled {
  opacity: .5;
  pointer-events: none;
}

.menu-item.disabled .menu-btn {
  cursor: default;
}

.menu-separator {
  display: block;
  margin: 3px 5px;
  height: 1px;
  border-bottom: 1px solid #D0CFD0;
  background-color: #aaa;
}

.menu-item.submenu::after {
  content: "";
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left-color: #808080;
}

.menu-item.submenu:hover::after {
  border-left-color: #fff;
}

.menu .menu {
  top: 4px;
  left: 99%;
}

.show-menu,
.menu-item:hover>.menu {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  pointer-events: auto;
}

.menu-item:hover>.menu {
  -webkit-transition-delay: 100ms;
  transition-delay: 300ms;
}

i.svgicon {
  display: inline-block;
  width: 16px;
}

i.svgicon svg {
  width: 100%;
}

i.svgicon path {
  fill: currentColor;
}



i.svgimg svg {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

i.svgimg {
  color: black;
}

.dark i.svgimg {
  color: rgb(230,230,230);
}

.dark .gate-label {
  color: rgb(200,200,200);
}